---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.0"
  overlay_image: /assets/img/intro-bg-small.png
  cta_label: "Get Started"
  cta_url: "/tutorials/getting-started"
excerpt: "Wyvern is the cryptocurrency for gamers."
intro: 
  - excerpt: "Wyvern is the cryptocurrency for gamers.<br /><br />Like Bitcoin, Wyvern is a globally distributed ledger enabling permissionless, pseudonymous, instant transactions between people or programs anywhere in the world with an internet connection.<br /><br />Unlike Bitcoin, Wyvern is secured by everyday users mining Wyvern's NIST5 algorithm using their GPUs, not centralized mining companies with proprietary ASIC technology.<br /><br />You can use Wyvern to pay peers for goods or services, buy and sell virtual merchandise on the Wyvern Exchange (upcoming), and more."
feature_row:
  - title: "Get Started"
    excerpt: "Download suitable Wyvern software for your computer and get some Wyvern, start mining with your GPU, or set up a staking wallet."
    url: "/tutorials/getting-started"
    btn_label: "Get Started"
    btn_class: "btn--primary"
  - title: "Service Providers"
    excerpt: "Current list of Wyvern service providers: exchanges, pools, wallets, etc."
    url: "/general/service-providers"
    btn_label: "Service Providers"
    btn_class: "btn--primary"
  - title: "Get Involved"
    excerpt: "What we're looking for, how you can help, and where to get involved with the Wyvern project."
    url: "/general/get-involved"
    btn_label: "Get Involved"
    btn_class: "btn--primary"
  - title: "Technical Overview"
    excerpt: "Emission schedule, proof-of-work / proof-of-stake parameters and the reasoning behind them."
    url: "/general/technical-overview"
    btn_label: "Technical Overview"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
